.years
  font-size: 50%
  color: gray

.version
  font-size: 80%
  color: gray

b
  font-weight: bolder
  text-decoration: underline

#languages
  font-weight: bold

label
  font-weight: normal
  &::after
    content: ":"
//color:


