<section class="container">
  <h1 class="section-title">Overview</h1>
  <div class="overview">
    <div>
      <p><strong>~15 Years</strong> of international…</p>
      <app-flags flags="de at pl gb us es es-ct fr lu in"></app-flags>
      <p>…cross-platform experience: </p>
      <span>
      <app-topic-logo *ngFor="let topic of highlights.crossPlatform.ids" [topic]="topic"></app-topic-logo>

      </span>
    </div>
    <div>
      <p>Modern <strong>Full-Stack Development</strong>, focused on</p>

      <app-topic-logo *ngFor="let topic of highlights.main.ids" [topic]="topic"></app-topic-logo>
      TODO: Secondary:
      <app-topic-logo *ngFor="let topic of highlights.secondaryHighlights.ids" [topic]="topic"></app-topic-logo>

      <p>ecosystems, with a strong "utility belt":</p>
      <span>
        <!-- TODO: tooltips -->
        <app-topic-logo *ngFor="let topic of highlights.utility.ids" [topic]="topic"></app-topic-logo>
      </span>
      <p>with a broad and polyglot general experience:</p>
      <span>
        <app-topic-logo *ngFor="let topic of highlights.broad.ids" [topic]="topic"></app-topic-logo>
      </span>
    </div>
  </div>

</section>

<section id="languages" class="container">
  <!-- FIXME: extract languages component -->
  <h2 class="section-title">Languages</h2>
  <!-- FIXME: 2..4 columns -->
<!--  <app-flags flags="de at lu pl gb us pt es es-ct fr"></app-flags>-->
  <!-- FIXME: extract component for flag + label-->
  <div class="language">
    <div class="app-flags"><app-flags flags="pl"></app-flags></div>
    <label>Polish</label>
    <span>Native</span>
  </div>
  <div class="language">
    <div class="app-flags"><app-flags flags="gb us"></app-flags></div>
    <label>English</label>
    <span>Full professional proficiency</span>
  </div>
  <div class="language">
    <div class="app-flags"><app-flags flags="es mx"></app-flags></div> <!-- TODO: argentina -->
    <label>Spanish</label>
    <span>Full professional proficiency</span>
  </div>
  <div class="language">
    <div class="app-flags"><app-flags flags="de at"></app-flags></div> <!-- TODO CH-->
    <label>German</label>
    <span>Full professional proficiency</span>
  </div>
  <div class="language">
    <div class="app-flags"><app-flags flags="es-ct"></app-flags></div>
    <label>Català</label>
    <span>Basic</span>
  </div>
  <div class="language">
    <div class="app-flags"><app-flags flags="pt br"></app-flags></div>
    <label>Portuguese</label>
    <span>Intermediate</span>
  </div>
  <div class="language">
    <div class="app-flags"><app-flags flags="fr be"></app-flags></div>
    <label>French</label>
    <span>Beginner</span>
  </div>
  <div class="language">
    <div class="app-flags"><app-flags flags="it"></app-flags></div>
    <label>Italian</label>
    <span>Beginner</span>
  </div>
  <div class="language">
    <div class="app-flags"><app-flags flags="nl be"></app-flags></div>
    <label>Dutch</label>
    <span>Beginner</span>
  </div>
  <div class="language">
    <div class="app-flags"><app-flags flags="ru"></app-flags></div>
    <label>Russian</label>
    <span>Beginner</span>
  </div>
  <div class="language">
    <div class="app-flags"><app-flags flags="cn"></app-flags></div>
    <label>Mandarin Chinese</label>
    <span>Beginner</span>
  </div>
</section>


<section class="container">
  <h2 class="section-title">Experience <!--<span class="comment">(hover/tap to highlight)</span>--></h2>
  <div class="experience-info">
      <a href="https://www.linkedin.com/in/karoldepka" target="_blank">
      Please also take a look at skills endorsements on
      <img alt="LinkedIn Logo" style="vertical-align: middle; padding-bottom: 2px" height='14px' src="assets/images/logos/linkedin.svg"> <!-- TODO: underline link -->
    </a>
    <br>
    <p id="legend">Legend:</p>

      <ng-container
        *ngFor="let level of skillLevels"
      >
        <app-skill-level-icon
          [skillLevel]="level"
        ></app-skill-level-icon>
        &nbsp;<span style="text-transform: uppercase">{{level}}</span>
      </ng-container>

  <!--    <img style="width: 12px; height: 12px" src="assets/images/icons/signal/signal-solid-2.svg">-->
  <!--    <app-skill-levels-icons [skillLevels]="{have: 'beginner', want: 'expert'}"></app-skill-levels-icons>-->
  <!--    <app-skill-levels-icons [skillLevels]="{have: 'advanced'}"></app-skill-levels-icons>-->
      <p class="example">Example:</p>
      <app-topic-skill [tId]="'Angular'"
                      [skillLevels]="{have: 'advanced', want: 'expert'}"
      ></app-topic-skill>- have: advanced; on my way to become: expert.
  <!--    none: 'battery-empty',-->
  <!--    beginner: "battery-quarter",-->
  <!--    intermediate: "battery-half",-->
  <!--    advanced: "battery-three-quarters",-->
  <!--    expert: "battery-full"-->
  <!--    Example: <app-topic-skill></app-topic-skill>-->
  <!--  </p>-->
  </div>


  <app-work-experience-by-status-section
    *ngFor="let experience of experiencesByStatusArray"
    [experience]="experience"
  ></app-work-experience-by-status-section>

</section>

<!-- Clients: AIG, [ Siemens, ], Petrus, Lighthorse -->


<!--<section>-->
<!--  <h2><img width=120 height=80 src="assets/images/clients/aiglogo_white.svg">AIG <span class="years">2017-2018</span></h2>-->
<!--  &lt;!&ndash; TODO: make those headers sticky &ndash;&gt;-->
<!--  <app-country-flag country="de"></app-country-flag>-->
<!--  <app-country-flag country="pl"></app-country-flag>-->
<!--  <app-country-flag country="gb"></app-country-flag>-->
<!--  <app-country-flag country="us"></app-country-flag>-->
<!--  <app-country-flag country="es"></app-country-flag>-->

<!--  <section>-->
<!--    <h3>Project: Customer-facing application for managing insurance plans and customer data</h3>-->
<!--    <mat-chip-list>-->
<!--      <app-topic-tag tId="Angular"></app-topic-tag>-->
<!--      <app-topic-tag tId="TypeScript"></app-topic-tag>-->
<!--      <app-topic-tag tId="Less"></app-topic-tag>-->
<!--      <app-topic-tag tId="Node.js"></app-topic-tag>-->
<!--&lt;!&ndash;      <app-topic-tag tId="Express"></app-topic-tag>&ndash;&gt;-->
<!--      TODO: Bipro-->
<!--      &lt;!&ndash;<app-topic-tag id="TypeScript"></app-topic-tag>&ndash;&gt;-->
<!--    </mat-chip-list>-->

<!--  </section>-->
<!--  <section>-->
<!--    <h3>Project: Internal tool (broker-facing) for managing insurance plans</h3>-->
<!--    <mat-chip-list>-->
<!--      <app-topic-tag tId="Angular"></app-topic-tag>-->
<!--      <app-topic-tag tId="TypeScript"></app-topic-tag>-->
<!--      <app-topic-tag tId="PrimeNG"></app-topic-tag>-->
<!--    </mat-chip-list>-->

<!--  </section>-->

<!--  <section>-->
<!--    <h3>Project: TopicFriends.org <span class="years">2017-current</span></h3>-->
<!--    <fa name="user"></fa>Roles: Co-Founder, Lead Developer-->

<!--    <mat-chip-list>-->
<!--      <app-topic-tag tId="Angular"></app-topic-tag>-->
<!--      <app-topic-tag tId="Angular Material"></app-topic-tag>-->
<!--      <app-topic-tag tId="TypeScript"></app-topic-tag>-->
<!--      <app-topic-tag tId="Firebase"></app-topic-tag>-->
<!--&lt;!&ndash;      <app-topic-tag tId="Firebase Hosting"></app-topic-tag>&ndash;&gt;-->
<!--&lt;!&ndash;      <app-topic-tag tId="Firebase Realtime Database"></app-topic-tag>&ndash;&gt;-->
<!--&lt;!&ndash;      <app-topic-tag tId="Firebase Authentication"></app-topic-tag>&ndash;&gt;-->
<!--&lt;!&ndash;      <app-topic-tag tId="Firebase Cloud Functions"></app-topic-tag>&ndash;&gt;-->
<!--      <app-topic-tag tId="LinkedIn"></app-topic-tag>-->
<!--      <app-topic-tag tId="Sass"></app-topic-tag>-->
<!--      <app-topic-tag tId="SVG"></app-topic-tag>-->
<!--      <app-topic-tag tId="Git"></app-topic-tag>-->
<!--      <app-topic-tag tId="GitHub"></app-topic-tag>-->
<!--      &lt;!&ndash;<app-topic-tag id="TypeScript"></app-topic-tag>&ndash;&gt;-->
<!--    </mat-chip-list>-->

<!--  </section>-->
<!--  <section>-->
<!--    <h3>Project: InnoTopic.com website</h3>-->
<!--    <mat-chip-list>-->
<!--      <app-topic-tag tId="Angular"></app-topic-tag>-->
<!--      <app-topic-tag tId="Angular Material"></app-topic-tag>-->
<!--      <app-topic-tag tId="TypeScript"></app-topic-tag>-->
<!--      <app-topic-tag tId="Firebase"></app-topic-tag>-->
<!--&lt;!&ndash;      <app-topic-tag tId="Firebase Hosting"></app-topic-tag>&ndash;&gt;-->
<!--      <app-topic-tag tId="Sass"></app-topic-tag>-->
<!--      <app-topic-tag tId="SVG"></app-topic-tag>-->
<!--      <app-topic-tag tId="Git"></app-topic-tag>-->

<!--      &lt;!&ndash;<app-topic-tag id="TypeScript"></app-topic-tag>&ndash;&gt;-->
<!--    </mat-chip-list>-->

<!--  </section>-->
<!--  <section>-->
<!--    <h3>Project: FlexAgenda - time planning app <span class="years">2011-current</span></h3>-->
<!--    <mat-chip-list> &lt;!&ndash; HACK for its css &ndash;&gt;-->
<!--      <app-topic-tag tId="Android"></app-topic-tag>-->
<!--      <app-topic-tag tId="Java"></app-topic-tag>-->
<!--    </mat-chip-list>-->

<!--  </section>-->

<!--</section>-->






