<section class="project">
  <h3>
    <div><fa name="laptop"></fa><span><label>  Project: </label> {{projectTitle}}</span></div>
    <div>
       <fa name="male"></fa><span><label>  Roles: </label>{{project.roles}}</span>
    </div>
  </h3>
  <span *ngIf="project.description; let description">{{description}}</span>

  <section class="project-skills">
    <label>Skills:</label>
    <app-work-experience-list
      [experienceByName]="project.topicsById"
    ></app-work-experience-list>
  </section>
</section>
