<section class="project">
  <h3>
    <div><fa-icon [icon]="faLaptop"></fa-icon><span><label>  Project: </label> {{projectTitle}}</span></div>
    <!-- FIXME: position & size of laptop icon -->
    <div *ngIf="project.roles; let roles">
       <fa name="male"></fa><span><label>  Roles: </label>{{roles}}</span>
    </div>
  </h3>
  <span *ngIf="project.description; let description">{{description}}</span>

  <section class="project-skills">
    <label>Skills:</label>
    <app-work-experience-list
      [experienceByName]="project.topicsById"
    ></app-work-experience-list>
  </section>
</section>
