///* You can add global styles to this file, and also import other style files */
////@import "~@angular/material/_theming.scss"
//@import 'app-themes.scss'
//
@import shared

//
//
//html, body
//  height: 100%
body
  margin: 0
  //font-family: Roboto, "Helvetica Neue", sans-serif
  font-family: Karla, "Helvetica Neue", sans-serif
  font-weight: lighter
  color: black
  &.dark-theme
    background: #404040
    color: white
    // Bullet point colors darktheme
    :not(.highlight)
      a
        color: #787D86
    // email bullet
    #email
      color: #ABB2BF
    fa
      color: #fff
      //color: #bf360c
    // Project skills (dark theme)
    .project-skills label
      color: #ABB2BF

    .project
      & > span
        color: #ABB2BF

    label
      color: orange

    p
      color: orange



  @media screen and (max-width: $break-medium)
    font-size: 16px !important
  @media screen and (max-width: $break-small)
    font-size: 14px !important

.mat-app-background
  //background: white !important
  background: black !important


h4
  margin: 0.5em
  margin-block-start: 0.2em
  margin-block-end: 0.5em
  //letter-spacing: 0.3em
  text-transform: uppercase
  color: gray
  font-size: 0.75rem

.powered-by mat-chip
  img
    opacity: 10%
  opacity: 50% !important
  margin: 3px !important
  padding: 5px 8px !important
  background-color: white !important
  box-shadow: none !important

.comment
  // font-size: 60%
  font-size: .9rem
  //color: gray
  opacity: .6

.innotopicLogo
  fill: white !important

.powered-by
  // background-color: red

//@media print
.mat-chip.mat-standard-chip
  -webkit-print-color-adjust: exact
  //background-color: yellow !important
  color: #999 !important
  font-size: .85rem !important
  @media screen and (max-width: $break-medium)
    font-size: .8rem !important
    padding: 6px 10px
    min-height: 25px
  @media screen and (max-width: $break-small)
    font-size: .75rem !important

.topic-logo-img
  @media screen and (max-width: $break-medium)
    // width: 16px !important
    //height: 16px !important

.other-profile-icon-container
  width: 1.2em !important
  height: 1.2em
  // padding: 5px
  // background-color: #eee
  // border-radius: 50%
  flex: none
  & + a
    word-break: break-all
    margin-left: 5px

app-user-other-profile-icon
  vertical-align: middle

.otherProfileIcon
  width: 1rem !important
  height: auto !important
  // TODO: theme - color


app-other-profile-user-name p
  display: flex
  align-items: center
  justify-content: flex-start

//.dark-theme
//  .section-title
//    background-color: mat-color($dark-primary) !important
//
//  .mat-toolbar.mat-primary
//    background-color: mat-color($dark-primary) !important
//
//
.section-title
  background-color: var(--ion-color-primary)
  margin-top: 25px
  margin-left: 0px
  color: var(--ion-color-primary-contrast)
  padding: 15px
  text-transform: uppercase
  @media screen and (max-width: $break-medium)
    margin-top: 20px
    margin-bottom: 10px
    padding: 10px
//
//.container
//  max-width: $break-medium
//  margin: auto
//  padding: 0px 10px
//  @media screen and (max-width: $break-medium)
//    padding: 0px
//
////:focus-visible polyfill { outline: none; }
//
//
model-viewer
  width: 100vw
  height: 100vh
  display: block
  position: fixed
  top: 0
  left: 0
  z-index: -9999

body
  background-color: #e0e0e0
