<div style="display: inline-block; width: 15px; font-size: 11px">
  <ng-template [ngIf]="skillLevels?.have">
    <fa *ngIf='! useSignalLevels'
        class="skill-icon"
        name="{{skillsIcons[skillLevels?.have]}}"
    >
      <!-- margin-right: -4px - causes wrapping in Firefox, but not in Chrome or Safari -->
    </fa>
    <img
      *ngIf='useSignalLevels'
      class="skill-icon signal-icon"
      src="assets/images/icons/signal/{{skillIconSignal(skillLevels?.have)}}.svg">
  </ng-template>

  <ng-template [ngIf]="skillLevels?.want"><!--↗-->
    <fa *ngIf='! useSignalLevels'
        class="skill-icon want"
        name="{{skillsIcons[skillLevels?.want]}}"
    >
      <!-- margin-right: -5px - causes wrapping in Firefox, but not in Chrome or Safari -->
    </fa>

    <img
      *ngIf='useSignalLevels'
      class="skill-icon want signal-icon"
      src="assets/images/icons/signal/{{skillIconSignal(skillLevels?.want)}}.svg">

  </ng-template>
  <!--<span>{{text}}</span>-->
  <!--Sk2: {{skillLevels | json}}-->

</div>

