<fa *ngIf="skillLevels?.have"
  style="padding-left: .4em; "
  class="skill-icon"
  name="{{skillsIcons[skillLevels?.have]}}"
>
  <!-- margin-right: -4px - causes wrapping in Firefox, but not in Chrome or Safari -->
</fa>

<ng-template [ngIf]="skillLevels?.want"><!--↗-->
  <fa class="skill-icon want"
      style="; opacity: 0.7"
      name="{{skillsIcons[skillLevels?.want]}}"
  >
    <!-- margin-right: -5px - causes wrapping in Firefox, but not in Chrome or Safari -->
  </fa>
</ng-template>
<!--<span>{{text}}</span>-->
<!--Sk2: {{skillLevels | json}}-->
