<!--lvls {{skillLevels | json}}-->

<!--<div style="width: 10px; height: 10px; background-color: red"></div>-->

<div style="display: inline-block; width: 15px; font-size: 11px; position: relative">
  <!-- `position: relative` is needed as parent for icons with `position: absolute` -->
  <ng-template [ngIf]="skillLevels?.have">
<!--    <fa-icon *ngIf='! useSignalLevels'-->
<!--        class="skill-icon"-->
<!--        name="{{skillsIcons[skillLevels?.have]}}"-->
<!--    >-->
<!--      &lt;!&ndash; margin-right: -4px - causes wrapping in Firefox, but not in Chrome or Safari &ndash;&gt;-->
<!--    </fa-icon>-->
<!--    img1-->
    <img
      *ngIf='useSignalLevels'
      class="skill-icon signal-icon"
      src="assets/images/icons/signal/{{skillIconSignal(skillLevels?.have)}}.svg">
  </ng-template>

  <ng-template [ngIf]="skillLevels?.want"><!--↗-->
<!--    <fa-icon *ngIf='! useSignalLevels'-->
<!--        class="skill-icon want"-->
<!--        name="{{skillsIcons[skillLevels?.want]}}"-->
<!--    >-->
<!--      &lt;!&ndash; margin-right: -5px - causes wrapping in Firefox, but not in Chrome or Safari &ndash;&gt;-->
<!--    </fa-icon>-->

    <img
      *ngIf='useSignalLevels'
      class="skill-icon want signal-icon"
      src="assets/images/icons/signal/{{skillIconSignal(skillLevels?.want)}}.svg"> <!-- FIXME: contrast in dark mode -->

  </ng-template>
  <!--<span>{{text}}</span>-->
  <!--Sk2: {{skillLevels | json}}-->

</div>

