<section>
  <h1>Overview</h1>
  ~10 Years of international
  <app-country-flag country="de"></app-country-flag>
  <app-country-flag country="es-ct"></app-country-flag>
  <app-country-flag country="pl"></app-country-flag>
  <app-country-flag country="gb"></app-country-flag>
  <app-country-flag country="us"></app-country-flag>
  <app-country-flag country="pt"></app-country-flag>
  <app-country-flag country="es"></app-country-flag>
  <app-country-flag country="fr"></app-country-flag>
  cross-platform
  <app-topic-logo topic="Android"></app-topic-logo>
  <app-topic-logo topic="macOS"></app-topic-logo>
  <app-topic-logo topic="Microsoft Windows"></app-topic-logo>
  <app-topic-logo topic="Linux"></app-topic-logo>
  experience
  <p>Modern Full-Stack Development,
    focused on <app-topic-tag tId="Angular"></app-topic-tag>+ <app-topic-tag tId="TypeScript"></app-topic-tag>and <app-topic-tag tId="Node.js"></app-topic-tag>Ecosystems
    , with a broad general experience:
    <app-topic-logo topic="Java"></app-topic-logo>
    <app-topic-logo topic="Android"></app-topic-logo>
    <app-topic-logo topic="Ruby"></app-topic-logo>
    <app-topic-logo topic="Python"></app-topic-logo>
  </p>
</section>

<section>
  <h2>Languages</h2>
  <app-country-flag country="de"></app-country-flag>
  <app-country-flag country="es-ct"></app-country-flag>
  <app-country-flag country="pl"></app-country-flag>
  <app-country-flag country="gb"></app-country-flag>
  <app-country-flag country="us"></app-country-flag>
  <app-country-flag country="pt"></app-country-flag>
  <app-country-flag country="es"></app-country-flag>
  <app-country-flag country="fr"></app-country-flag>

</section>


<section>
  <h2>Experience <span class="comment">(hover/tap to highlight)</span></h2>

  <app-work-experience-by-status-section
    *ngFor="let experience of experiencesByStatusArray"
    [experience]="experience"
  ></app-work-experience-by-status-section>

</section>

<!-- Clients: AIG, [ Siemens, ], Petrus, Lighthorse -->


<section>
  <h2><img width=120 height=80 src="assets/images/clients/aiglogo_white.svg">AIG <span class="years">2017-2018</span></h2>
  <!-- TODO: make those headers sticky -->
  <app-country-flag country="de"></app-country-flag>
  <app-country-flag country="pl"></app-country-flag>
  <app-country-flag country="gb"></app-country-flag>
  <app-country-flag country="us"></app-country-flag>
  <app-country-flag country="es"></app-country-flag>

  <section>
    <h3>Project: Customer-facing application for managing insurance plans and customer data</h3>
    <mat-chip-list>
      <app-topic-tag tId="Angular"></app-topic-tag>
      <app-topic-tag tId="TypeScript"></app-topic-tag>
      <app-topic-tag tId="Less"></app-topic-tag>
      <app-topic-tag tId="Node.js"></app-topic-tag>
<!--      <app-topic-tag tId="Express"></app-topic-tag>-->
      TODO: Bipro
      <!--<app-topic-tag id="TypeScript"></app-topic-tag>-->
    </mat-chip-list>

  </section>
  <section>
    <h3>Project: Internal tool (broker-facing) for managing insurance plans</h3>
    <mat-chip-list>
      <app-topic-tag tId="Angular"></app-topic-tag>
      <app-topic-tag tId="TypeScript"></app-topic-tag>
      <app-topic-tag tId="PrimeNG"></app-topic-tag>
    </mat-chip-list>

  </section>

  <section>
    <h3>Project: TopicFriends.org <span class="years">2017-current</span></h3>
    <fa name="user"></fa>Roles: Co-Founder, Lead Developer

    <mat-chip-list>
      <app-topic-tag tId="Angular"></app-topic-tag>
      <app-topic-tag tId="Angular Material"></app-topic-tag>
      <app-topic-tag tId="TypeScript"></app-topic-tag>
      <app-topic-tag tId="Firebase"></app-topic-tag>
<!--      <app-topic-tag tId="Firebase Hosting"></app-topic-tag>-->
<!--      <app-topic-tag tId="Firebase Realtime Database"></app-topic-tag>-->
<!--      <app-topic-tag tId="Firebase Authentication"></app-topic-tag>-->
<!--      <app-topic-tag tId="Firebase Cloud Functions"></app-topic-tag>-->
      <app-topic-tag tId="LinkedIn"></app-topic-tag>
      <app-topic-tag tId="Sass"></app-topic-tag>
      <app-topic-tag tId="SVG"></app-topic-tag>
      <app-topic-tag tId="Git"></app-topic-tag>
      <app-topic-tag tId="GitHub"></app-topic-tag>
      <!--<app-topic-tag id="TypeScript"></app-topic-tag>-->
    </mat-chip-list>

  </section>
  <section>
    <h3>Project: InnoTopic.com website</h3>
    <mat-chip-list>
      <app-topic-tag tId="Angular"></app-topic-tag>
      <app-topic-tag tId="Angular Material"></app-topic-tag>
      <app-topic-tag tId="TypeScript"></app-topic-tag>
      <app-topic-tag tId="Firebase"></app-topic-tag>
<!--      <app-topic-tag tId="Firebase Hosting"></app-topic-tag>-->
      <app-topic-tag tId="Sass"></app-topic-tag>
      <app-topic-tag tId="SVG"></app-topic-tag>
      <app-topic-tag tId="Git"></app-topic-tag>

      <!--<app-topic-tag id="TypeScript"></app-topic-tag>-->
    </mat-chip-list>

  </section>
  <section>
    <h3>Project: FlexAgenda - time planning app <span class="years">2011-current</span></h3>
    <mat-chip-list>
      <app-topic-tag tId="Android"></app-topic-tag>
      <app-topic-tag tId="Java"></app-topic-tag>
    </mat-chip-list>

  </section>

</section>






