<img
  [src]="url"
  alt=""
  class='topic-logo-img'
  [ngStyle]="styles"
  onerror="this.style.display='none'"
  title="{{_topic.name}}"
>

<ng-container
  *ngIf="debug_showText"
>
  {{_topic.name}}
</ng-container>

<!--<svg width="50" height="50 " viewBox="0 0 100 100">-->
<!--&lt;!&ndash;  <use attr.xlink:href="{{url}}" >&ndash;&gt;-->
<!--&lt;!&ndash;  <use [attr.xlink:href]="'assets/images/logos-l/logos/html-5.svg'" >&ndash;&gt;-->

<!--&lt;!&ndash;  </use>&ndash;&gt;-->
<!--</svg>-->


 <!-- -    <ng-template [ngIf]="tag.tagEntry.logo" >-->
<!--  -      <a *ngIf="! isCustomClick" [routerLink]="'/topic/'+tag.tagEntry.id">-->
<!--  -        <img style="width: 36px; height: 18px; vertical-align: middle"-->
<!--                -             src="{{tag.tagEntry.logo}}" onerror="this.style.display='none';"/>&nbsp;-->
<!--  -      </a>-->
<!--  -      <a *ngIf="isCustomClick">-->
<!--  -        <img style="width: 18px; height: 18px; vertical-align: middle"-->
<!--                -             src="{{tag.tagEntry.logo}}" onerror="this.style.display='none';"/>&nbsp;-->
<!--  -      </a>-->
<!--  -    </ng-template>-->
<!-- -    <ng-template [ngIf]="! tag.tagEntry.logo" > &lt;!&ndash; hack for "vertical-align: middle" slightly shifted if no img &ndash;&gt;-->
<!--  -      <img style="width: 0px; height: 18px; vertical-align:middle"-->
<!--              -           src="assets/images/logos/git.svg" onerror="this.style.display='none';"/>&nbsp;-->
<!--  -    </ng-template>-->
