<div class="powered-by">
  <p class="container">
    Powered by
    <app-topic-tag tId="Angular">
      <!--      <span class="version">7</span>-->
    </app-topic-tag>
    <app-topic-tag tId="Angular Material">
      <!--      <span class="version">7</span>-->
    </app-topic-tag>
    <app-topic-tag tId="HTML5">
      <!--      <span class="version">7</span>-->
    </app-topic-tag>
    <app-topic-tag tId="TypeScript">
      <!--      <span class="version">3.2.2</span>-->
    </app-topic-tag>
    <app-topic-tag tId="Sass">
    </app-topic-tag>

    <app-topic-tag tId="SVG">
    </app-topic-tag>

    <app-topic-tag tId="Git">
    </app-topic-tag>

    <app-topic-tag tId="GitHub">
    </app-topic-tag>

    <app-topic-tag tId="WebStorm">
    </app-topic-tag>

    <app-topic-tag tId="Affinity Designer">
    </app-topic-tag>

    <app-topic-tag tId="Figma">
    </app-topic-tag>

    <app-topic-tag tId="WebGL">
    </app-topic-tag>

    <app-topic-tag tId="glTF">
    </app-topic-tag>

    <app-topic-tag tId="Blender">
    </app-topic-tag>

    <app-topic-tag tId="Web Components">
    </app-topic-tag>
  </p>

<!--  <app-topic-skill [tId]="'Angular'"-->
<!--                   [skillLevels]="{have: 'advanced', want: 'expert'}"-->
<!--  ></app-topic-skill>- have: advanced; on my way to become: expert.-->

</div>
