<div class="powered-by">
  <p class="container">
    Powered by
    <app-topic-tag tId="Angular">
      <!--      <span class="version">7</span>-->
    </app-topic-tag>
    <app-topic-tag tId="Angular Material">
      <!--      <span class="version">7</span>-->
    </app-topic-tag>
    <app-topic-tag tId="HTML5">
      <!--      <span class="version">7</span>-->
    </app-topic-tag>
    <app-topic-tag tId="TypeScript">
      <!--      <span class="version">3.2.2</span>-->
    </app-topic-tag>
    <app-topic-tag tId="Sass">
    </app-topic-tag>

    <app-topic-tag tId="SVG">
    </app-topic-tag>

    <app-topic-tag tId="Git">
    </app-topic-tag>

    <app-topic-tag tId="GitHub" [showLogo]="true">
    </app-topic-tag>

    <app-topic-tag tId="WebStorm">
    </app-topic-tag>

    <app-topic-tag tId="Affinity Designer">
    </app-topic-tag>

    <app-topic-tag tId="WebGL">
    </app-topic-tag>
  </p>
</div>
