
<section *ngFor="let orgKV of organisationsAndProjects | keyvalue"><!--<ng-template let-org="orgKV.value">-->

  <h2>
    <img width=auto height=50 src="assets/images/clients/{{orgKV.value.logoFileName}}">
    {{orgKV.key}}
    <span class="years">&nbsp;{{orgKV.value.time[0]}}-{{orgKV.value.time[1]}}</span>
    <app-spacer></app-spacer>
    <app-flags [flags]="orgKV.value.flags"></app-flags>
  </h2>
  <section *ngFor="let projKV of orgKV.value.projects | keyvalue"
  > <!-- FIXME: don't use keyvalue, as it looses order !! -->
    <h3>
      <span style="margin-left: -8px">Project: {{projKV.key}}</span>
      <span class="projectRole">
        <app-spacer></app-spacer> <fa name="male"></fa> Role: {{projKV.value.roles}}
      </span>
    </h3>

    <section>
      Skills:
      <app-work-experience-list [experienceByName]="projKV.value.topicsById"></app-work-experience-list>
    </section>
  </section>

<!--</ng-template>-->
</section>
