<!--<ion-header [translucent]="true">-->
<!--  <ion-toolbar>-->
<!--    <ion-title>theme-demo</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content [fullscreen]="true">-->
<!--&lt;!&ndash;  <ion-header collapse="condense">&ndash;&gt;-->
<!--&lt;!&ndash;    <ion-toolbar>&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-title size="large">theme-demo</ion-title>&ndash;&gt;-->
<!--&lt;!&ndash;    </ion-toolbar>&ndash;&gt;-->
<!--&lt;!&ndash;  </ion-header>&ndash;&gt;-->


<!--</ion-content>-->


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" [defaultHref]="'/'"></ion-back-button>
      <app-app-logo [withText]="true"></app-app-logo>
    </ion-buttons>
    <ion-title>Theme Preferences</ion-title>

    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
<!--  <ion-header collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-title size="large">test-page</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->
  <app-theme-config style="display: block;"></app-theme-config>
  <app-theme-samples></app-theme-samples>
  <!-- --ion-color-step-850 -->

<!--  <ion-chip class="neumorphic-chip">-->
<!--    <ion-label>Neumorphic Chip</ion-label>-->
<!--  </ion-chip>-->

</ion-content>
