<!--<ion-header [translucent]="true">-->
<!--  <ion-toolbar>-->
<!--    <ion-title>theme-demo</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content [fullscreen]="true">-->
<!--&lt;!&ndash;  <ion-header collapse="condense">&ndash;&gt;-->
<!--&lt;!&ndash;    <ion-toolbar>&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-title size="large">theme-demo</ion-title>&ndash;&gt;-->
<!--&lt;!&ndash;    </ion-toolbar>&ndash;&gt;-->
<!--&lt;!&ndash;  </ion-header>&ndash;&gt;-->


<!--</ion-content>-->


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>test-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!--  <ion-header collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-title size="large">test-page</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->
  <app-chip style="display: inline-block; margin: 3rem;"></app-chip>

 <ion-button>test</ion-button>
  <app-theme-config style="display: block;"></app-theme-config>
<!--  <ion-chip class="neumorphic-chip">-->
<!--    <ion-label>Neumorphic Chip</ion-label>-->
<!--  </ion-chip>-->

</ion-content>
