@import '../../../app-themes.scss'
@import '../../../styles.sass'

\:host
  font-weight: bold

label
  font-weight: normal
  text-transform: uppercase
  width: 110px
  color: mat-color($light-accent,900)
  font-weight: bold
  &::after
    content: ":"

div
  display: flex
  margin: 10px 0 0 0


p
  margin: 0 !important
  width: calc(100% - 110px)
  word-wrap: break-word

section
  margin: 0

