Why Web Technologies?

- Flexibility - styling and directives

- Live embed

- re-use: Web components

- easy to share, thanks to URL-s, routing

- runs anywhere (desktop, mobile, server, embedded)

- vendor independence

- open-source (add news about Edge moving to webkit)

- same tools and languages to develop for frontend, backend, mobile, embedded

- security (can open an app via link sent to us by anyone, within seconds, without worrying (assuming we have a secure browser & OS)

- confidence that the web is here to stay (remember Flash, Java on desktop, Silverlight, ActiveX?)

- humanity getting together and agreeing on something as deep and broad

- fun

- pluralism, but with a common anchor point (HTML, JS, CSS)

- dynamic typing AND static typing

- aesthetic-aware approaches

- self-hosting technologies ("Eating our own Dogfood")

- by the community, for the community

- quick iteration - live preview in the browser

- rapidly evolving

- optimised fast rendering and smooth animations
