<mat-toolbar color="primary">
  <mat-toolbar-row>
    <app-company-logo></app-company-logo>
    &nbsp;
    InnoTopic SL <span class=comment>&nbsp;Under construction</span>
    <button mat-button>Contact</button>
    <button mat-button>People</button><!-- Link see -> experience -->
    <button mat-button>Experience</button>
    <button mat-button>Conferences</button> <!-- TODO: list Angular Conferences, with logos, dates -->
  </mat-toolbar-row>
</mat-toolbar>

<!-- TODO:
 Priority: make this into CV
 - modules/routing structure first
 - sections like client / project
-->

<!-- Ideas:
  - try Angular Universal to speed up loading and to learn it (hosting on google cloud if necessary)
-->
<!-- People
  - Karol Depka Pradzinski, InnoTopic S.L.U. Owner, Full-Stack Developer with focus on Angular
  - photo
  -
-->
<!-- List of topics with experience levels and -->
<!-- D3 graph ; highlights from/to topic tags-->

<div id="email">
  <fa name="envelope"></fa>
  E-mail: consulting.offers@innotopic.com
</div>

<!-- Testimonials (Felix, take from LinkedIn recommendations) -->

<app-cv-page></app-cv-page>

<router-outlet></router-outlet>

<div class="powered-by">
  Powered by
  <app-topic-tag tId="Angular">
    <span class="version">7</span>
  </app-topic-tag>
  <app-topic-tag tId="Angular Material">
    <span class="version">7</span>
  </app-topic-tag>
  <app-topic-tag tId="TypeScript">
    <span class="version">3.2.2</span>
  </app-topic-tag>
  <app-topic-tag tId="Sass">
  </app-topic-tag>
</div>

