//@import '../../../app-themes.scss'
//@import '../../../styles.sass'

@use '@angular/material' as mat

hr
  height: 3px
  //background: linear-gradient(0deg, rgba(0,0,0,.04) 0%, rgba(255,255,255,1) 100%) !important
  background: linear-gradient(to right, rgba(0,0,0,.04) 0%, rgba(255,255,255,1) 100%) !important
  border: none

//p
//  display: inline
//  //color: mat.color($light-accent,900)
//  margin-top: 10px
//  font-weight: bold
//  margin: 0.5em
//  margin-block-end: 0.5em
//  text-transform: uppercase
//
//p, span
//  display: block
//  margin-left: -5px
//  @media screen and (max-width: $break-medium)
//    // flex-direction: column
//    display: inline
//
//section
//  display: flex
//  margin-left: 15px
//  @media screen and (max-width: $break-medium)
//    // flex-direction: column
//    display: block
//  @media screen and (max-width: $break-small)
//    margin-left: 10px
//    margin-top: 5px
