<ng-container *ngFor="let category of topicCategoriesArray">
  <section *ngIf="hasExperienceInCategory(category)">
    <p>{{categoryTitle(category.name)}}</p>
    <!--  <hr>-->
<!--    <mat-chip-list>-->
    <span>
      <ng-container *ngFor="let topic of category.topicsArray">
<!--        TOPIC_: {{topic.id}}-->
<!--        experience[topic.id]: {{experienceByName[topic.name]}}-->
        <app-topic-skill *ngIf="experienceByName[topic.name]; let experienceItem"
                        [tId]="experienceItem.topicId"
                        [skillLevels]="experienceItem?.skillLevels"
                        [showLogo]="showIcons"
        ></app-topic-skill><!--    [skillLevels]="exp.skillLevels"-->
      </ng-container>
    </span>
<!--    </mat-chip-list>-->

  </section>

</ng-container>

<!--byCategory-->
<!--<pre>{{byCategory | json}}</pre>-->
