<div>
  <div class="container">
    <app-personal-data></app-personal-data>

    <app-external-profiles></app-external-profiles>
  </div>
</div>

<div style="display: flex; justify-content: center">
  <app-world-map style="max-height: 500px"></app-world-map>
  <app-tech-graph></app-tech-graph>
</div>

<app-work-experience></app-work-experience> <!-- rename to work-skills ? -->

<app-work-projects-section></app-work-projects-section>

<p style="margin: 18px; font-size: 10px">I hereby consent to the processing of my personal data  for the
  purposes required for the recruitment process.
</p>


<!--<app-personal-interests></app-personal-interests>-->

<!--<img src="assets/images/logos/angular.svg" style="width: 18px; height: 18px; margin-right: 5px; vertical-align: middle;">-->
