What is Angular?

It's not just a library. It's not just a "framework". It's not "just" even a platform.
It's also an ecosystem, a community, a mindset.

United in believing in an integrated system, in which simple things are easy, and difficult things are possible.
Where things work out of the box.
Where common operations are well standardised (e.g. via <a>Schematics</a>).

Where things work out-of-the-box but are optional (e.g. static type checking)

Where latest technologies are embraced, while compatibility is maintained.
