

<div style="display: flex; flex-direction: column; justify-content: center; margin: 100px">

  <img src="assets/images/InnoTopic-Logo_Alan-darker-for-bright-shirt.svg" height="240" style="margin-bottom: 130px;">

  <div class="topics" style="gap: 20px; margin-bottom: 110px;">
    <app-topic-logo [size]="120" *ngFor="let topic of highlights.main.ids" [topic]="topic"></app-topic-logo>
  </div>
  <div class="topics" style="gap: 15px; margin-bottom: 70px;">
    <app-topic-logo [size]="120" *ngFor="let topic of highlights.secondaryHighlights.ids" [topic]="topic"></app-topic-logo>
  </div>

  <div class="topics" style="gap: 30px;">
    <app-topic-logo [size]="70" *ngFor="let topic of highlights.utility.ids" [topic]="topic"></app-topic-logo>
  </div>

  <div class="topics" style="margin-top: 35px;">
    <app-topic-logo [size]="70" *ngFor="let topic of highlights.broad.ids" [topic]="topic"></app-topic-logo>
  </div>

  <div class="topics" style="margin-top: 35px;">
    <app-topic-logo [size]="70" *ngFor="let topic of highlights.personalInterests.ids" [topic]="topic"></app-topic-logo>
  </div>

<!--  <div class="topics">-->
<!--    <app-topic-logo [size]="50" *ngFor="let topic of highlights.personalInterests.ids" [topic]="topic"></app-topic-logo>-->
<!--  </div>-->

<!--  <div class="topics">-->
<!--    <app-topic-logo [size]="50" *ngFor="let topic of highlights.producingContent.ids" [topic]="topic"></app-topic-logo>-->
<!--  </div>-->

</div>

