<section *ngFor="let category of topicCategoriesArray">
  <h4>{{categoryTitle(category.name)}}</h4>
<!--  <hr>-->
  <mat-chip-list>
    <ng-container *ngFor="let topic of category.topicsArray">
      <app-topic-skill *ngIf="experience[topic.id]; let experienceItem"
        [tId]="experienceItem.topicId"
        [skillLevels]="experienceItem?.skillLevels"
      ></app-topic-skill><!--    [skillLevels]="exp.skillLevels"-->
    </ng-container>
  </mat-chip-list>

</section>

<!--byCategory-->
<!--<pre>{{byCategory | json}}</pre>-->
