<ng-container *ngFor="let category of topicCategoriesArray">
  <section *ngIf="hasExperienceInCategory(category)">
    <h4>{{categoryTitle(category.name)}}</h4>
    <!--  <hr>-->
    <mat-chip-list>
      <ng-container *ngFor="let topic of category.topicsArray">
<!--        TOPIC_: {{topic.id}}-->
<!--        experience[topic.id]: {{experienceByName[topic.name]}}-->
        <app-topic-skill *ngIf="experienceByName[topic.name]; let experienceItem"
                         [tId]="experienceItem.topicId"
                         [skillLevels]="experienceItem?.skillLevels"
        ></app-topic-skill><!--    [skillLevels]="exp.skillLevels"-->
      </ng-container>
    </mat-chip-list>

  </section>

</ng-container>

<!--byCategory-->
<!--<pre>{{byCategory | json}}</pre>-->
