hr {
  height: 3px;
  //background: linear-gradient(0deg, rgba(0,0,0,.04) 0%, rgba(255,255,255,1) 100%) !important ;
  background: linear-gradient(to right, rgba(0,0,0,.04) 0%, rgba(255,255,255,1) 100%) !important ;
  border: none;
}

h4 {
  display: inline-block;
  font-size: 15px;
  color: #a60
}
