<mat-toolbar *ngIf="false" color="primary">
  <mat-toolbar-row>
    <app-company-logo></app-company-logo>
    &nbsp;
    InnoTopic SLU<!-- <span class=comment>&nbsp;Under construction</span>-->
<!--    <button mat-button>Contact</button>-->
<!--    <button mat-button>People</button>&lt;!&ndash; Link see -> experience &ndash;&gt;-->
<!--    <button mat-button>Experience</button>-->
   <!-- <button mat-button>Conferences</button> &lt;!&ndash; TODO: list Angular Conferences, with logos, dates &ndash;&gt; -->
   <div class="flex-stretch"></div>
   <mat-slide-toggle [formControl]="toggleControl" style="margin-left:auto">
   </mat-slide-toggle>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Ideas:
  - try Angular Universal to speed up loading and to learn it (hosting on google cloud if necessary)
-->
<!-- People
  - Karol Depka Pradzinski, InnoTopic S.L.U. Owner, Full-Stack Developer with focus on Angular
  - photo
  -
-->
<!-- List of topics with experience levels and -->
<!-- D3 graph ; highlights from/to topic tags-->

<div class="app">
<!--  <mat-radio-button>test</mat-radio-button>-->
<!--  <button mat-button>btn</button>-->

  <!-- Testimonials (Felix, take from LinkedIn recommendations) -->

<!--  <app-cv-page></app-cv-page>-->

  <router-outlet></router-outlet>

  <app-powered-by *ngIf="! config.shirtMode"></app-powered-by>
</div>
