<mat-chip
  (mouseenter)="onMouseEnter()"
  (click)="clickTopic.emit($event)"
  style="cursor: pointer; color: gray"
  [ngClass]="{
    'tag-chip': true,
    'highlight': isHighlighted
  }"
>
  <div style="display:table-cell; vertical-align: middle">
    <app-topic-logo [topic]="tag.tagEntry"></app-topic-logo>
    <!--<i *ngIf="editable"-->
    <!--class="ion-close-circled"-->
    <!--style="cursor:pointer; color: rgba(0, 0, 0, 0.54); font-size: 20px"-->
    <!--(click)=deleteTag(chip)></i>-->

    <!--<div style="vertical-align: middle; display: inline; height: 100%">-->
<!--    <span style="display: inline; height: 100%; vertical-align: middle; font-weight: normal; color: gray">-->
<!--      <a *ngIf="! isCustomClick" [routerLink]="'/topic/'+tag.tagEntry.id">{{tag.tagEntry.name}}</a>-->
<!--&lt;!&ndash;      <a *ngIf="isCustomClick"></a>&ndash;&gt;-->
<!--      {{tag.tagEntry.name}}-->
<!--      &lt;!&ndash;&nbsp;&ndash;&gt;-->
<!--      &lt;!&ndash;<span *ngIf="shouldHighlightSymmetric()">SYM_MATCH</span>&ndash;&gt;-->
<!--    </span>-->

    {{tag.tagEntry.name}}
    <!--    cat: {{tag.tagEntry.category}}-->
    <!--<i *ngIf="editable"-->
       <!--class="ion-close-circled"-->
       <!--style="vertical-align: middle; cursor:pointer; color: rgba(0, 0, 0, 0.30); font-size: 18px"-->
       <!--(click)="tagListModel.deleteTag(tag)"></i>-->
    <!--<i *ngIf="! editable"-->
    <!--class="ion-close-circled"-->
    <!--style="vertical-align: middle; display: block; width: 0px;"-->
    <!--&gt;</i>-->

    <!--</div>-->
    <!--<div style="vertical-align: middle; display: table-cell; height: 100px; width: 300px">{{chip.tagEntry.name}}</div>-->
    <!--{{chip.tagEntry.name}}-->
    <ng-content></ng-content>
  </div>
</mat-chip>
